.menu-button {
    .text {
        text-transform: uppercase;
        font-size: 18px;
    }

    .line {
        height: 10px;
        width: 100%;
        transform: scaleX(0);
        position: relative;
        left: 5%;
        top: 8px;
        background: white;
        transition: transform 0.4s $ease-expo-out, left 0.4s $ease-expo-out;
        transform-origin: left center;
    }

    &:hover, &.selected {
        .line {
            transform: scaleX(0.9);
        }
    }
}