.search-bar {
    position: absolute;
    bottom: 4px;
    right: 80px;
    width: 229px;
    height: 34px;

    .background {
        background-color: $color-grey;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    input {
        position: absolute;
        top: 7px;
        left: 7px;
        background: transparent;
        border: none;
        font-size: 14px;
        width: calc(100% - 14px);
    }
}