// Exp
$ease-expo-out: cubic-bezier(0.19, 1, 0.22, 1);
$ease-expo-in: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$ease-expo-in-out: cubic-bezier(1, 0, 0, 1);

// Cubic
$ease-cubic-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);