<div class="about-push">
    <div class="background"></div>

    <div class="content">
        <h2>STATE OF THE ART ENTERTAINMENT</h2>
        <div class="separator"></div>
        <p>
            Whether its the finest quality loudspeakers in the world that make you feel like your at the
            live performance of your favourite band or artist or watching a red carpet hollywood movie
            premiere from the comfort  of your own home you can be sure that at ParagonArabia
            you will experience somethingtruly magical that these printed
            words can not do justice to.
        </p>
        <div class="buttons">
            <a href="/about" class="button read-more-button">
                <div class="text">READ MORE</div>
                <div class="line">
                    <div class="over"></div>
                </div>
            </a>
        </div>
    </div>
</div>