.background-image {
    background-color: #000;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;

    .background-image-loader {
        height: 15px;
        width: 100%;
        transform: scaleX(0);
        background-color: #FFF;
        transform-origin: left top;
    }
}