header {
    width: 100%;
    position: fixed;
    z-index: 1000;

    > .background {
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        background-image: url(../assets/images/texture-noise.jpg);
        top: 0;
        left: 0;
        transition: transform 0.4s $ease-expo-out;
        transform-origin: top center;
        transform: scaleY(0);
    }

    .header-content {
        position: relative;
        z-index: 2;
    }

    &.show-background > .background{
        transform: scaleY(1);
    }

    .header-content {
        padding: 80px 0 0 80px;
    }

    ul, .search-bar {
        opacity: 0;
        transition: opacity 0.5s;
    }

    ul {
        margin-top: 50px;
    }

    li {
        display: inline-block;
        margin-right: 50px;
        &:last-child {
            margin-right: 0;
        }
    }

    &.active {
        ul, .search-bar {
            opacity: 1;
        }
    }
}