<div class="page" id="contact">
    <section class="contact-section">
        <div v-component="pa-hero" v-with="image: 'assets/images/contact/hero.jpg', title: 'Contact'"></div>
        <div class="contact-infos">
            <div class="contact-intro">
                <div class="center">
                    <p>Your questions and inquiries are our top priority.</p>
                    <p>When you submit your question using the form below, you will get a response from<br />our friendly associates within 24 hours or less. We review your questions, comments, suggestions.</p>
                    <br />
                    <p>We'll respond quickly, usually within one business day.</p>
                </div>
            </div>

            <div class="center">
                <div class="contact-address address-showroom">
                    <h3>Showroom</h3>
                    <p>Paragon Arabia 118500 Jeddah, Sultan St.</p>
                    <p>Saudi Arabia 21312</p>
                    <br />
                    <p class="phone">+966 12 694 1714</p>
                    <a class="mail" href="mailto:contact@paragonhifi.com">contact@paragonhifi.com</a>
                </div>

                <div class="contact-address address-sales">
                    <h3>Sales &amp; orders</h3>
                    <p>Your questions and inquiries are our top priority.</p>
                    <p>When you submit your question using the form below.</p>
                    <br />

                    <a class="mail" href="mailto:sales@paragonhifi.com">sales@paragonhifi.com</a>
                </div>
            </div>

            <div class="contact-map">
                <div class="map-mask"></div>
                <div class="google-map" v-component="google-maps" v-with="mapOptions: mapOptions"></div>
            </div>
        </div>
    </section>
</div>