<div class="block left">
    <a href="" title="Paragon"><img alt="Paragon" src="assets/images/p-logo.svg"/></a>
</div>
<div class="block middle">
    <div class="infos adress">
        <h4>ADDRESS</h4>
        <p>
            118500 JEDAH, SULTAN ST.<br/>
            SAUDI ARABIA 21312
        </p>
    </div>
    <div class="infos telephone">
        <h4>TELEPHONE</h4>
        <p>
            +966 12 694 1714
        </p>
    </div>
    <div class="infos email">
        <h4>EMAIL</h4>
        <p>
            <a href="mailto:CONTACT@PARAGONARABIA.COM">CONTACT@PARAGONARABIA.COM</a>
        </p>
    </div>
</div>
<div class="block right">
    <a href="" title="Chain"><img alt="Chain" src="assets/images/pictos/chain.svg"/></a>
</div>