.products-diaporama {
    height: 100%;
    li {
        height: 100%;
    }
    li .content {

        h2 {
            font-size: 75px;

            @include max-screen(1700px) {
                font-size: 65px;
            }
            @include max-screen(1500px) {
                font-size: 55px;
            }
            @include max-screen(1300px) {
                font-size: 45px;
            }
            @include max-screen(1100px) {
                font-size: 40px;
            }
        }

        .separator {
            margin: 15px 0 35px 0;
        }

        p {
            font-size: 24px;
            width: 80%;

            @include max-screen(1700px) {
                font-size: 21px;
            }
            @include max-screen(1500px) {
                font-size: 18px;
            }
            @include max-screen(1300px) {
                font-size: 14px;
            }
            @include max-screen(1100px) {
                font-size: 12px;
            }
        }

        .buttons {
            .read-more-button {
                position: relative;
                top: -13px;
                @include max-screen(1700px) {
                    top: -10px;
                }
                @include max-screen(1500px) {
                    top: -8px;
                }
                @include max-screen(1100px) {
                    top: -6px;
                }
            }
        }
    }
}