<div class="products-diaporama" v-component="draggable-diaporama">
    <ul class="images-container handle" v-on="mousedown:onMouseDown">
        <li class="item" v-style="background-image: 'url(assets/images/products/01.jpg)'">
            <div class="content">
                <h2>ASTELL&amp;KERN AK 120</h2>
                <div class="separator"></div>
                <p>
                    Praesent sit amet turpis bibendum, eleifend est sit amet, ultrices dui. Donec pharetra iaculis nulla in sodales. Donec pulvinar ut nulla et pellentesque.
                </p>
                <div class="buttons">
                    <a class="button previous-button" v-on="click: gotoPrevious">
                        <div class="text">PREVIOUS</div>
                        <div class="line">
                            <div class="over"></div>
                        </div>
                    </a>
                    <a href="/home" class="button read-more-button">
                        <div class="text">READ MORE</div>
                        <div class="line">
                            <div class="over"></div>
                        </div>
                    </a>
                    <a class="button next-button" v-on="click: gotoNext">
                        <div class="text">NEXT</div>
                        <div class="line">
                            <div class="over"></div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="item" v-style="background-image: 'url(assets/images/brands/02.jpg)'">
            <div class="content">
                <h2>ASTELL&amp;KERN AK 120</h2>
                <div class="separator"></div>
                <p>
                    Praesent sit amet turpis bibendum, eleifend est sit amet, ultrices dui. Donec pharetra iaculis nulla in sodales. Donec pulvinar ut nulla et pellentesque.
                </p>
                <div class="buttons">
                    <a class="button previous-button" v-on="click:gotoPrevious">
                        <div class="text">PREVIOUS</div>
                        <div class="line">
                            <div class="over"></div>
                        </div>
                    </a>
                    <a href="/home" class="button read-more-button">
                        <div class="text">READ MORE</div>
                        <div class="line">
                            <div class="over"></div>
                        </div>
                    </a>
                    <a class="button next-button" v-on="click: gotoNext">
                        <div class="text">NEXT</div>
                        <div class="line">
                            <div class="over"></div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="item" v-style="background-image: 'url(assets/images/products/01.jpg)'">
            <div class="content">
                <h2>ASTELL&amp;KERN AK 120</h2>
                <div class="separator"></div>
                <p>
                    Praesent sit amet turpis bibendum, eleifend est sit amet, ultrices dui. Donec pharetra iaculis nulla in sodales. Donec pulvinar ut nulla et pellentesque.
                </p>
                <div class="buttons">
                    <a class="button previous-button" v-on="click: gotoPrevious">
                        <div class="text">PREVIOUS</div>
                        <div class="line">
                            <div class="over"></div>
                        </div>
                    </a>
                    <a href="/home" class="button read-more-button">
                        <div class="text">READ MORE</div>
                        <div class="line">
                            <div class="over"></div>
                        </div>
                    </a>
                    <a class="button next-button" v-on="click: gotoNext">
                        <div class="text">NEXT</div>
                        <div class="line">
                            <div class="over"></div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>