@import "base/variables";

$column: 127px;
$gutter: 10px;
$grid-columns: 10;
$grid-margin: 10;
$max-width: calc(100% - 2 * #{$grid-margin});

// DEBUG
// $visual-grid: true;
$visual-grid-index: front;
$visual-grid-color: #1abc9c;