<div class="page" id="about">
    <section class="about-section">
        <div v-component="pa-hero" v-with="image: 'assets/images/about/hero1.jpg', title: 'SOUND OVER MATTER'"></div>
        <div class="content">
            <p class="small">
                Whether its the finest quality loudspeakers in the world that make you feel like your at the live performance of your favourite band or artist or watching a red carpet hollywood movie premiere from the comfort of your own home you can be sure that at ParagonArabia you will experience something truly magical that these printed words can not do justice to.
            </p>
            <p>
                ParagonArabia represent’s luxury and high end like “you’ve never experienced before” We only source the finest quality components and electronics, the absolute best of the best for those who expect nothing less.
            </p>
            <p class="small">
                We don’t believe in cutting corners or taking shortcuts our handpicked product range is as near to perfection as you can get with no expense spared , absolutely nothing we repeat “nothing” comes close to the quality and engineering behind these rare gems, state of the art engineering that shatters the boundaries of reality far beyond anything ever heard or seen before and a client list that is by far the most prestigious in the business!
            </p>
            <p>
                Are you ready for the ParagonArabia experience?
            </p>
        </div>
    </section>
    <section class="about-section">
        <div v-component="pa-hero" v-with="image: 'assets/images/about/hero2.jpg', title: 'SERVICES'"></div>
        <div class="content">
            <p>
                ParagonArabia was established with the sole purpose of providing our client with a bespoke personal service which exceeds all other standards.
            </p>
            <p>
                Focusing on the high end luxury retail sector providing the absolute best for a visual and sound experience like no other.
            </p>
            <p>
                At ParagonArabia we provide only the best, our products are hand made with meticulous attention to detail inside and out.
            </p>
            <p class="small">
                No two clients are the same, your needs are as individual as your taste, thats why we carefully consult and advise. Our passion and commitment for uncompromising sound and visual quality means our expert advice is second to none.
            </p>
            <p class="small">
                Unlike many other companies, we take the time to listen to every nuance of our clients needs, in order for us to tailor a solution thats the absolute best,  we take time to listen and assess our clients needs down to the finest detail of what your favourite musical piece or favourite movie is.
            </p>
            <p>
                When you make a purchase with ParagonArabia not only can you count on a hand built elite system  but you can also count on the appropriate upgrade path for new products and a world class service and after sales service which is second to none.
            </p>
        </div>
    </section>
</div>